@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*************Allgemein - Anfang*************/
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(207, 207, 207);
    margin-bottom:50px;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
#main {
    transition: all .5s;
}

.headline {
    background:rgb(0, 156, 228);
    text-align: center;
    color: rgb(246, 250, 253);
    font-size: 50px;
    padding: 15px;
    box-shadow: 3px 3px 3px #0505055d;
}
/*************Allgemein - Ende*************/

/*************Sidebar - Beginning*************/
.sidebar {
    position: fixed;
    left: -251px;
    width: 250px;
    height: 100%;
    background: rgb(15, 179, 255);
    transition: .5s;
    box-shadow: 3px 3px 3px #0505055d;
}

.sidebar header {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: rgb(246, 250, 253);
    line-height: 80px;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    font-size: 21px;
    font-weight: bold;
    line-height: 50px;
    color: rgb(246, 250, 253);
    padding-left: 22px;
    box-sizing: border-box;
    border-top: 1px solid rgb(255, 255, 255, .1);
    border-bottom: 1px solid rgb(255, 255, 255, .1);
    transition: .4s;
}

.sidebar ul li:hover a{
    padding-left: 32px;
}

.sidebar ul li i {
    margin-right: 10px;
}

#open_sidebar {
    color: rgb(246, 250, 253);
    font-size: 32px;
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px 12px;
    margin-top: 20px;
    margin-left: 20px;
}

#cancel_sidebar {
    color: rgb(246, 250, 253);
    margin-left: 10px;
    cursor: pointer;
    background: rgb(15, 179, 255);
    border-radius: 3px;
    padding: 4px 9px;
}
/*************Sidebar - End*************/

/*************Index.html - Anfang*************/
.home_article {
    background-color: rgb(223, 223, 223);
    padding: 10px;
    width: 51%;
    min-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #05050518;
}
/*************Index.html - Ende*************/

/*************game.html - Anfang*************/
.gametestercode {
    background-color: rgb(223, 223, 223);
    padding: 10px;
    width: 51%;
    min-width: 1000px;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #05050518;
}
.gametestercodeinput {
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    border: 0px;
    font-size: x-large;
}
.submitbutton {
    width: 35%;
    padding: 10px;
    font-size: x-large;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0);
    background-color: aliceblue;
    cursor: pointer;
}
#wrongcodecontainer {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 156, 228);
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 30px;
    font-size: 25px;
  }
  #wrongcodecontainer.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
/*************game.html - End*************/

/*************hangman-hero.html - Beginning*************/
/*************hangman-hero.html - End*************/

/*************Article - Beginning*************/
.article {
    background-color: rgb(223, 223, 223);
    padding: 10px;
    width: 51%;
    min-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #05050518;
}
.post {
    display: flex;
}
.text {
    width: 70%;
    padding: 20px;
}
.image {
    width: 30%;
    padding: 20px;
}
.article h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
img {
    max-width: 100%;
    height: auto;
}
/*************Article - End*************/

/*************Footer - Beginning*************/
.footer {
    margin-top: 120px;
    margin-bottom: -50px;
    background:rgb(0, 156, 228);
    text-align: center;
    color: rgb(246, 250, 253);
    box-shadow: 3px 3px 3px #0505055d;
    padding: 5px;
}
.footer p {
    font-size: 17px;
}
/*************Footer - End*************/

@media (max-width: 1200px) {
    .article {
        min-width: 50px;
    }
    .post {
        display: block;
    }
    .image {
        width: 90%;
    }
}